<!-- <h2 class="">Escribe un mensaje</h2> -->
<!-- <form class="" (ngSubmit)="onSubmit()" [formGroup]="msgForm">
  <input formControlName="messageField" [(ngModel)]="msgContent" type="text" name="message">
  <button class="" type="submit" [disabled]="msgForm.invalid">Form</button>
</form> -->
<div class="writing-box">
  <hr/>
  <input type="text" class="input-box"placeholder="Write message" name="msgContent"[(ngModel)]="msgContent" minlength="1" type="text">
  <button (click)="sendMsgJr()">Send</button>
  <hr/>
</div>