.msg{
  
  color: rgb(106, 55, 64);
  border: 3px solid rgb(255, 221, 227);
  background-color: rgb(255, 221, 227);
}
.blue{
  border: 3px solid beige;
  background-color: beige;
  color:rgb(85, 85, 53);
  text-align: right;
  
}
